include LICENSE.txt
include README.rst
include MANIFEST.in
include redhawk/c/fake_libc_include/*.h
include redhawk/common/*.yaml
recursive-include redhawk/test/files *.c *.py
recursive-include editors *
